<footer class="z-50 mt-12 h-12 flex dark:bg-gray-900 text-gray-500 justify-center p-2 border-t border-gray-100 dark:border-gray-800">
 <div class="flex w-full items-center">
  <div class="flex mr-2 float-left">
    {% if site.enableNetlifyCMS == 1 %}
      {% include "components/icon-cms.njk" %}
    {% endif %}
  </div>
  <div class="text-gray-500 dark:text-white flex flex-grow justify-center text-align-center">
    <small>
    {% if site.footer %}
    {{ site.footer | safe }}
    {% endif %}
    </small>
  </div>
  <div class="flex ml-2 float-right">
    {% if site.enableTwitterLink == 1 %}
      {% include "components/icon-twitter.njk" %}
    {% endif %}
    {% if site.enableDiscordLink == 1 %}
      {% include "components/icon-discord.njk" %}
    {% endif %}
    {% if site.enablePatreonLink == 1 %}
      {% include "components/icon-patreon.njk" %}
    {% endif %}
    {% if site.enableGithubLink == 1 %}
      {% include "components/icon-github.njk" %}
    {% endif %}
  </div>
</div>
</footer>
